body{
margin:0;
padding:0;
overflow:hidden;
}
.header{
	width:100%;
	height: 131px;
	background-color:#000000;
}
.logo
{	
	float:left;
	background-image:url('../img/logo4.png');
	height:163px;
	width:270px;

	
}
.footer
{
    margin-top: 10px;
	width:100%;	
	height: 263px;
	background-color:#000000;
}
.footer_logo
{
	float:right;
	background-image:url('../img/logo1.jpg');
	height:262px;
	width:420px;

}
.content{

	 width: 960px;
	 min-height:250px;
    margin: 0 auto;
}
.cwelcome{
	font-family: 'Bowlby One SC', cursive;
	color:#000000;

	
}
p.cwelcome{
	font-size:140%;
}
ul.cwelcome  li{
	display:inline;

}
.cwelcome a{
	font-size:60%;
	 text-decoration: none;
	 color:#000000;
}
.cwelcome a:hover{
	text-decoration:underline;
}
.contentBody{
    min-height: 400px;
	width:100%;
	margin-left:50px;
    color:#000000;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 12px;
    font-size: 80%;
    padding: 10px;
}
.comments{
    width:100%;
    height:25px;

}
.comments_il{
    float:left;
    width:100px;
}
.comments_text{
    float:left;
    width:400px;

}
.delete{
    float:left;
    margin-left: 2px;
}
.delete img{
    width:25px;
    height:25px;

}
.pages
{
    width:270px;
    float:left;
    margin-left:200px;
    margin-top: -12px;
    padding: 0px;

}
.pages img
{
    width: 25px;
    height: 25px;
}
.round {
    border-radius: 100px;
}
.catalog_item{
    float:left;
    width:100%;
    height:70px;
    font-size: 70%;
    padding: 1px;
}
.catalog_img{
    float:left;
    padding: 5px;
}
.catalog_img img{
    width: 50px;
    height: 50px;
    float:left;
}
.catalog_title{
    float:left;
    width:100px;
    height: 50px;
    margin: 0px;
}
.catalog_description{
    float:left;
    width:740px;

}
.submit
{

    width:127px;
    height:38px;
    background-color:#000000;
    border:none;

    color:#fefefe;
    margin-bottom: 1px;
}
.item_add{
    display:block;
    margin:0 auto;
    width:500px;
}
textarea {
    width: 400px; /* Ширина поля в процентах */
    height: 100px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
}
#descr_small{
    height: 50px;
}
input{
    padding: 15px;
    position: center;
    float: left;
}

.half{
    float:left;
    width:400px;
    height:200px;
}
.half select{
    float:left;
    padding: 10px;
}